@tailwind base;
@tailwind components;
@tailwind utilities;

.glass{
    backdrop-filter: blur(9px) saturate(79%);
    background-color: rgb(255 255 255 / 8%);
    border-radius: 12px;
    border: 1px solid rgb(209 213 219 / 30%);
    color: #fff;
}

.swiper-button-previous, .swiper-btn-next{
    border-radius: 50%;
border:transparent;
}

.custom-bullets {
    width: 22px !important;
    height: 10px !important;
    background-color: #d1d5db; /* Gray background */
    border-radius: 32px !important;
    display: inline-block !important;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .custom-bullets.swiper-pagination-bullet-active {
    background-color: #fff;
    transform: scale(1.2); 
  }

  .product-slide {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 2px;
    min-width: fit-content;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }

  .product-slide:hover {
    transform: scale(1.05);
  }

@media (width >= 768px) {
  .mobile-swiper{
    display:none;
  
    } 

    .half{
      width: 50rem;
    }

    .hero-holder::before{
      background-color: transparent;
      content: "";
      height: 30px;
      width: 30px;
      position: absolute;
      top: 0;
      left: 35.05%;
      border-top-right-radius: 10px;
      box-shadow: 15px -0 0 #fff;
      z-index: 20;
    }
.overlay{
z-index: 10;
}
    .hero-holder::after{
      background-color: transparent;
      content: "";
      height: 30px;
      width: 30px;
      position: absolute;
      top: 10.5%;
      right:1%;
      border-top-right-radius: 10px;
      box-shadow: 15px -0 0 #fff;
      z-index: 20;
    }
}

@media (width >= 1024px) {
  .hero-holder::before{
    background-color: transparent;
    content: "";
    height: 30px;
    width: 30px;
    position: absolute;
    top: 0;
    left: 35.75%;
    border-top-right-radius: 10px;
    box-shadow: 15px -0 0 #fff;
    z-index: 20;
  }

  .hero-holder::after{
    background-color: transparent;
    content: "";
    height: 30px;
    width: 30px;
    position: absolute;
    top: 12%;
    right:1%;
    border-top-right-radius: 10px;
    box-shadow: 15px -0 0 #fff;
    z-index: 20;
  }

  /* .header-navigation {
    position: relative;
    height: 45px;
  } */

  .swiper-button-previous {
   padding: 1%;
  }

  .swiper-btn-next{
    padding: 1%;
  }
 
}

@media (width <= 768px) {
    .desktop{
      display: none;
    }

}
